*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.venv
*.log
*.hprof
*.orig
*.rej
*.swo
*.swp   
.__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.egg
*.egg-info
*.log
*.pot
*.pyc
*.pyo
*.pyd  
.sql              